<!-- <p>Username: <%= @user %></p> -->

<p>Title: <%= @product.title %></p>
<p>Description: <%= @product.description %></p>
<p>Deadline to bid: <%= @product.deadline %></p>

<a href="/products/">RETURN</a>
