<!-- <p>Username: <%= @user %></p> -->

<p>Title: <%= @product.title %></p>
<p>Description: <%= @product.description %></p>
<p>Deadline to bid: <%= @product.deadline %></p>
<form class="" action="index.html" method="post">
  <button type="" name="buynow">Buy it now!</button>
</form>

<a href="/products/">RETURN</a>
